.nav-container {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cloud-logo {
    font-size: 5rem;
    color: #01A0C2;
}

.logo h1 {
    font-size: 2rem;
    color: #01A0C2;
}

/* Nav Links */

.nav-links {
    display: flex;
}

.nav-link {
    position: relative;
    padding: 0 .5rem .5rem .5rem;
    color: white;
}

.nav-link::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 0%;
    background-color: #01A0C2;
    bottom: 0;
    left: 0;
    transition: 300ms;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-item + .nav-item {
    margin-left: 8rem;
}
/* Menu */
.nav-menu {
    display: none;
}

.menu-line {
    height: 5px;
    width: 35px;
    background-color: #01A0C2;
    border-radius: 10px;
}

.menu-line + .menu-line {
    margin-top: 5px;
}


.no-scroll {
    overflow-y: hidden;
  }

/* Mobile Design */
@media only screen and (max-width: 600px) {

    .cloud-logo {
        font-size: 3rem;
    }

    .logo h1 {
        font-size: 1.4rem;
    }

    .nav-links {
        transform: translateX(100%);
        transition: 400ms;
        position: absolute;
        flex-direction: column;
        align-self: center;
        justify-content: space-around;
        height: 100vh;
        background-color: #01A0C2;
        width: 100vw;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 1;
    }

    .nav-active {
        transform: translateX(0%);
        overflow: hidden;
    }

    .nav-item + .nav-item {
        margin-left: 0;
    }

    .nav-menu {
        display: block;
        position: relative; z-index: 2;
    }

    .menu-line {
        background-color: white;
    }
}