/* Monsterrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Global */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: #01A0C2;
  text-decoration: none;
}

img {
  width: 100%;
}

.color-white {
  color: white;
}

.btn {
  padding: .6rem .8rem;
  border-radius: .8rem;
  border: none;
  background-color: #01A0C2;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: 300ms;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn:focus {
  transform: scale(0.9);
}

.main-container {
  width: 90%;
  margin: 0 auto;
}